* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400, 600, 700;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
  background-color: hsl(0, 0%, 8%);
}

p {
  font-size: 14px;
}

container {
  position: absolute;
  top: 9%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: auto;
}

.main-ctn {
  width: 300px;
  height: 500px;
  color: #fff;
  border-radius: 15px;
  text-align: center;
  padding: 15px;
  background-color: hsl(0, 0%, 20%);
}

@media only screen and (min-width: 400px) and (max-width: 500px) {
  .main-ctn {
    width: 360px;
    height: 575px;
    color: hsl(0, 0%, 100%);
    border-radius: 15px;
    text-align: center;
    padding: 15px;
    background-color: hsl(0, 0%, 12%);
  }

  container {
    position: absolute;
    top: 16%;
  }
}

.main-ctn .img-box {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
}

.grn-adr {
  font-size: 12px;
  color: hsl(75, 94%, 57%);
}

.main-ctn img {
  width: 100%;
}

.main-ctn h1 {
  margin-top: 10px;
  font-size: 20px;
}

.main-ctn p {
  margin-top: 10px;
}

#tg-line {
  font-size: 10px;
  margin: 15px 0 50px 0;
}

.social-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 210px;
}

button {
  font-size: 15px;
  width: 200px;
  height: 50px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 20%);
  padding: 7px;
  margin-bottom: 1rem;
  border-radius: 7px;
  box-shadow: none;
}

.btn1,
.btn2,
.btn3,
.btn4,
.btn5 {
  cursor: pointer;
}

button:hover {
  color: hsl(0, 0%, 0%);
  background-color: hsl(75, 94%, 57%);
}
