:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 20%);
  --dark-grey: hsl(0, 0%, 12%);
  --off-black: hsl(0, 0%, 8%);
}

/* RESET */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: var(--dark-grey);
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400, 600, 700;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
}

h1,
h2,
h3,
h4 {
  color: var(--white);
  font-weight: normal;
  line-height: 1.4em;
}

p,
a,
li {
  color: var(--white);
  line-height: 1.4em;
  font-size: 1em;
}

h1,
h3 {
  font-size: 1.2em;
}

h2 {
  font-size: 1.6em;
}

h4 {
  font-size: 0.8em;
}

/* mobile styles */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.main {
  grid-column: 2/3;
  grid-row: 1;
  background: var(--off-black);
  width: 375px;
  height: 600px;
  padding: 10px 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 327px;
  height: 579px;
  margin-left: 4.5%;
  padding: 15px;
  border-radius: 15px;
  background: var(--grey);
}

.card .profile-pic {
  width: 88px;
  height: 88px;
  border: solid 9px var(--grey);
  border-radius: 50%;
  margin-top: 10px;
  overflow: hidden;
}

.profile-pic img {
  width: 100%;
}

.card .name-location {
  width: 279px;
  height: 61px;
  margin-bottom: 5px;
  text-align: center;
}

.name-location span {
  font-size: 12px;
  color: hsl(75, 94%, 57%);
}

.card h1 {
  margin-top: 10px;
  font-size: 20px;
}

.card p {
  margin-top: 10px;
}

.card .bio {
  width: 279px;
  height: 21px;
  text-align: center;
  font-size: 0.7em;
  margin: 15px 0 0 0;
  color: var(--white);
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 279px;
  height: 289px;
  margin-top: 1rem;
}

.links button {
  font-size: 15px;
  width: 200px;
  height: 50px;
  color: var(--white);
  background-color: var(--off-black);
  padding: 7px 0;
  margin-bottom: 1rem;
  border: none;
  border-radius: 7px;
}

.btn1,
.btn2,
.btn3,
.btn4,
.btn5 {
  cursor: pointer;
}

button:hover {
  color: var(--off-black);
  background: var(--green);
}

@media screen and (min-width: 620px) {
  .card {
    margin-left: 6.5%;
  }
}
